@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css
전체적인 css 파일.
공통적인 버튼 속성과 글씨 크기 및 두께가 선언되어 있습니다. */

h1 {
  font-size: 20px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

button {
  width: 164.35px;
  height: 52px;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  border: 2px;
  font-weight: 700;
}

@layer components {
  .input-shadow-small {
    @apply shadow-[1.22px_3.5px_0_0_#0f172a];
  }
  .input-shadow-medium {
    @apply shadow-[2.07px_3.5px_0_0_#0f172a];
  }
  .input-shadow-large {
    @apply shadow-[4.06px_3.5px_0_0_#0f172a];
  }

  .button-shadow-small {
    @apply shadow-[1.22px_4px_0_0_#0f172a];
  }
  .button-shadow-medium {
    @apply shadow-[3.52px_4px_0_0_#0f172a];
  }
  .button-shadow-large {
    @apply shadow-[3.65px_4px_0_0_#0f172a];
  }
}
